* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6rem;

}

header {
    background-color: #e5ecee;
    text-align: center;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    flex-wrap: wrap;
    min-height: 10px;

}

.superior a {
    display: inline-block;
    text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
    flex-wrap: wrap;
}

.superior a:hover {
    background-color: #000;
    color: #ebf5f7;
    flex-wrap: wrap;
}

.derecha a {

    display: inline-block;
    text-decoration: none;
    color: grey;
   
    padding-bottom: 10px;

}

.inferior {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.derecha a:hover {
    background-color: #000;
    color: #ebf5f7;
    flex-wrap: wrap;
}



.encabezadoImagen {
    background-image: url(Imagenes/cabeceraOriginal.png);
    height: 150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    flex-wrap: wrap;

}

.encabezadoImagen h1 {
    font-size: 50px;
    padding: 20px 0;
}

/*cuerpo*/
body {
    background-color: #ededed;
    width: 100%;
    /* padding-left: 2cm;*/
}

section {
    padding-top: 15rem;
}

.home {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2cm;
}


.in-flex {
    flex: 1;
    min-width: 250px;
    padding-right: 2cm;

}

.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: #fff;
    margin: 20px;
    margin-bottom: 0;



}

.in-flex div {
    padding: 25px;
    background-color: #fff;
    margin: 20px;



}

.Froning {
    /*width: 440px;*/
    width: 100%;
    height: 100%;
}

.articulosInteresantes {
    text-decoration: none;
    color: grey;
    ;

}

/*Aquí empieza el formulario*/
select.redondeado {
    border-radius: 4px;
    border: 0ch;
    width: 8.7cm;
}

textarea.redondeado {
    border-radius: 4px;
    border: 0ch;
    width: 8.7cm;
}

fieldset {
    width: 400px;
    border-radius: 17px;
    background-color: rgb(207, 168, 202);
    border: 0;
    padding: 1cm 1cm 1cm 1cm;

}

input.redondeado {
    border-radius: 4px;
    border: 0ch;
    height: 0.9cm;
}

input.submit {
    border-radius: 4px;
    border: 0ch;
    width: 9cm;
    background-color: rgb(80, 7, 80);
    color: white;
    font-size: 1.2rem;
}

.formulario {
    display: flex;
    justify-content: center;

}

.submit {
    height: 0.9cm;
}

.datos {
    font-size: 1.2rem;
}

/*Aquí termina el formulario*/

/*Primera imagen del centro*/
.primerdivmujer {
    width: 600px;
    height: 244px;
    border: rgb(80, 7, 80) solid 2px;
}

.centro {
    text-align: center;
}

h1 {
    font-size: 2.5rem;

}


.inicio {
    text-decoration: none;
    color: rgb(80, 7, 80);
}

.footer {
    text-align: center;
    background-color: #9b9a9a;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
}

.conborde {
    border: rgb(80, 7, 80) solid 2px;
}

h2 {
    color: black;
}

.suplementacion {

    padding: 25px;
    background-color: #fff;
    margin: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;


}

.grid-container {

    text-align: center;
    padding: 10px 0;

}